* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cf7a2c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-container {
  background-image: url(./assets/movie.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 400px;
}
.player-card {
  height: 500px;
  & img {
    transition: transform 0.9s;
  }
  &:hover {
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
    & img {
      transform: scale(0.9);
    }
  }
}
